@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MateusBold';
    src: url(./assets/fonts/Mate.ttf);
}

html {
    scroll-behavior: smooth;
  }

/* Custom Scrollbar Thumb */
body::-webkit-scrollbar-thumb {
    background-color: #100259; /* Black background for the thumb */
    border-radius: 10px;    /* Rounded corners */
    /* Optional border to add some padding around the thumb */
}


.bg-radial-circle::after {
    /* background: radial-gradient(circle, #bfdbfe, #100259); */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    margin: 0 auto;
    width: 90%;

  }


body::-webkit-scrollbar-track {
    background-color: transparent; 
    border-radius: 10px;    
}

/* General Scrollbar settings */
body::-webkit-scrollbar {
    width: 12px;              
    height: 12px;              
}
